In [26]:
import pandas as pd

In [34]:
data = pd.read_csv('Engineering Student Count Details (College wise - Branch wise).csv')

data['Zone'] = data['Zone'].fillna(method='ffill')

data['Group'] = data['Group'].fillna(method='ffill')

data = data[(data['Category Name'] != 'Architecture') & (data['Category Name'] != 'Affiliated Autonomous')]


#copy data to xdata
xdata = data.copy()
#delete branch from xdata
del xdata['branch']

#merge rows with same college code
xdata = xdata.groupby(['College Code','College Name','Zone','Group','Category Name','University','District']).sum().reset_index()
#delete rows with less than 20 total students or 1st year students
condition1 = xdata['Total No of students'] <= 20
condition2 = xdata['1st year'] <= 20
xdata = xdata[condition1 | condition2]
data.head(10)


#delete rows from data where college code is in xdata
data = data[~data['College Code'].isin(xdata['College Code'])]
#dimension of data
print(data.shape)
data.head(10)

(2699, 13)

,College Code,College Name,Category Name,University,District,Zone,Group,branch,Total No of students,1st year,2nd year,3rd year,4th year
0,1101,Aalim Muhammed Salegh College Of Engineering,Affilated Non - Autonomous,ANNA UNIVERSITY,TIRUVALLUR,Zone I : Chennai-I,1.0,B.E Electronics and Communication Engineering,160,37,63,29,31
1,1101,Aalim Muhammed Salegh College Of Engineering,Affilated Non - Autonomous,ANNA UNIVERSITY,TIRUVALLUR,Zone I : Chennai-I,1.0,B.E Computer Science and Engineering,394,110,123,76,85
2,1101,Aalim Muhammed Salegh College Of Engineering,Affilated Non - Autonomous,ANNA UNIVERSITY,TIRUVALLUR,Zone I : Chennai-I,1.0,B.E Civil Engineering,72,7,18,18,29
3,1101,Aalim Muhammed Salegh College Of Engineering,Affilated Non - Autonomous,ANNA UNIVERSITY,TIRUVALLUR,Zone I : Chennai-I,1.0,B.E Electrical and Electronics Engineering,81,10,29,26,16
4,1101,Aalim Muhammed Salegh College Of Engineering,Affilated Non - Autonomous,ANNA UNIVERSITY,TIRUVALLUR,Zone I : Chennai-I,1.0,B.Tech Information Technology,196,57,61,38,40
5,1101,Aalim Muhammed Salegh College Of Engineering,Affilated Non - Autonomous,ANNA UNIVERSITY,TIRUVALLUR,Zone I : Chennai-I,1.0,B.E Mechanical Engineering,176,18,42,57,59
6,1101,Aalim Muhammed Salegh College Of Engineering,Affilated Non - Autonomous,ANNA UNIVERSITY,TIRUVALLUR,Zone I : Chennai-I,1.0,B.Tech Artificial Intelligence and Data Science,41,41,0,0,0
9,1103,GRT INSTITUTE OF ENGINEERING AND TECHNOLOGY,Affilated Non - Autonomous,ANNA UNIVERSITY,TIRUVALLUR,Zone I : Chennai-I,1.0,B.E Electrical and Electronics Engineering,78,25,22,12,19
10,1103,GRT INSTITUTE OF ENGINEERING AND TECHNOLOGY,Affilated Non - Autonomous,ANNA UNIVERSITY,TIRUVALLUR,Zone I : Chennai-I,1.0,B.E Mechanical Engineering,95,16,24,24,31
11,1103,GRT INSTITUTE OF ENGINEERING AND TECHNOLOGY,Affilated Non - Autonomous,ANNA UNIVERSITY,TIRUVALLUR,Zone I : Chennai-I,1.0,B.E Biomedical Engineering,169,42,48,44,35